In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
min_lat, max_lat = 36.0, 42.0
min_lon, max_lon = 26.0, 45.0

num_points = 10000

In [3]:
lats = np.random.uniform(min_lat, max_lat, num_points)
lons = np.random.uniform(min_lon, max_lon, num_points)
ps = np.random.uniform(0, 1, num_points)

data = {
    "lat": lats,
    "lon": lons,
    "p": ps
}

df = pd.DataFrame(data)

In [4]:
df.head()

         lat        lon         p
0  37.316741  34.127465  0.851540
1  38.405880  31.727015  0.457533
2  37.942251  44.166097  0.954299
3  36.304688  35.148422  0.349032
4  40.547207  32.937415  0.469824

In [5]:
df.to_csv('fake_data.csv')

In [8]:
df = pd.read_csv('fake_data.csv', index_col=0)

In [9]:
df.head()

         lat        lon         p
0  37.316741  34.127465  0.851540
1  38.405880  31.727015  0.457533
2  37.942251  44.166097  0.954299
3  36.304688  35.148422  0.349032
4  40.547207  32.937415  0.469824